.page-header-kmc {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/nc_main.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}